a {
  color: black;
  display: block;
}

.acount {
  font-weight: bold;
}

.acount:hover {
  cursor: pointer;
  background: yellow;
  color: #000;
}

.login:hover {
  cursor: pointer;
  background: yellow;
  color: #000;
}

body {
  display: flex;
  min-height: 100vh;
}

.menubar {
  width: 200px;
  text-align: center;
  background-color: lightgrey;
  color: black;
  align-items: center;
}

.title-logo {
  color: yellow;
}

.menubar li {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  background-color: white;
  margin-left: 10px;
}

.box {
  width: 500px;
  text-align: center;
}
